<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="POST">
        <% if(messages.error) { %>
            <span><%= messages.error %></span>
        <% } %>
        <input type="text" name="name" value="<%= messages.name %>" id="" placeholder="Enter Your name"><br>
        <input type="email" name="email" value="<%= messages.email %>" id="" placeholder="Enter your email"><br>
        <input type="password" name="password" id="" placeholder="Enter your password">
        <input type="submit" value="submit">
    </form>
</body>
<script src="../controllers/authController.js"></script>
</html>